@import "./sass/Store.scss";
@import "./sass/Cart.scss";

* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: blanchedalmond;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-weight: bold;

  sup {
    background-color: red;
    color: white;
    font-size: 15px;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 5px;
  }

  .brand {
    font-size: 40px;
    text-decoration: none;
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    list-style-type: none;

    li {
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid black;
      }
    }
  }

  .main {
    font-size: 40px;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:link {
      color: black;
    }
  }

  .links {
    font-size: 20px;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:link {
      color: black;
    }
  }
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: blanchedalmond;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 48, 2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
